In [ ]:
user_path = '/content/drive/My Drive/Classroom/student-shopee-code-league-marketing-analytics/users.csv'
import csv
id_dictionary = dict()
with open(user_path, newline='') as csvfile:
  rows = csv.reader(csvfile)
  a = 0
  for row in rows:
    if a != 0:
      id, a_1, a_2, a_3, age, domain = row
      if a_1 == '':
        a_1 = 0
      if a_2 == '':
        a_2 = 0
      if age == '':
        age = 30
      if domain == '@gmail.com':
        domain = 1
      else:
        domain = 0
      id_dictionary[id] = [int(float(a_1)), int(float(a_2)), int(float(a_3)), int(float(age)), domain]
    else:
      pass
    a += 1
print(id_dictionary['1111'])

[0, 1, 0, 30, 0]

In [ ]:
def check_error(sets):
  c = 0
  days = [10, 30, 60]
  for i in list(map(int,sets)):
    if i != 0:
      return days[c]
    c += 1
  return 1e9

In [ ]:
def arrange(path, train=False):
  error = 0
  store_set = list()
  with open(path, newline='') as csvfile:
    rows = csv.reader(csvfile)
    a = 0
    for row in rows:
      if a != 0:
        if train:
          country, _, id, sub_len, last_open, last_login, last_checkout, open_count10, open_count30, open_count60, login_count10, login_count30, login_count60, checkout_count10, checkout_count30, checkout_count60, answer, _ = row
          if last_open == 'Never open':
            c = 0
            last_open = check_error([open_count10, open_count30, open_count60])
            if  last_open != 1e9:
              error += 1           
          if last_login == 'Never login':
            last_login = check_error([login_count10, login_count30, login_count60])
            if  last_login != 1e9:
              error += 1
          if last_checkout == 'Never checkout':
            last_checkout =  check_error([checkout_count10, checkout_count30, checkout_count60])
            if last_checkout != 1e9:
              error += 1
          tem_set = [country, sub_len, last_open, last_login, last_checkout, open_count10, open_count30, open_count60, login_count10, login_count30, login_count60, checkout_count10, checkout_count30, checkout_count60]
          for element in id_dictionary[id]:
            tem_set.append(element)
          tem_set.append(answer)
        else:
          country, _, id, sub_len, last_open, last_login, last_checkout, open_count10, open_count30, open_count60, login_count10, login_count30, login_count60, checkout_count10, checkout_count30, checkout_count60, _ = row
          if last_open == 'Never open':
            c = 0
            last_open = check_error([open_count10, open_count30, open_count60])
            if  last_open != 1e9:
              error += 1           
          if last_login == 'Never login':
            last_login = check_error([login_count10, login_count30, login_count60])
            if  last_login != 1e9:
              error += 1
          if last_checkout == 'Never checkout':
            last_checkout =  check_error([checkout_count10, checkout_count30, checkout_count60])
            if last_checkout != 1e9:
              error += 1
          tem_set = [country, sub_len, last_open, last_login, last_checkout, open_count10, open_count30, open_count60, login_count10, login_count30, login_count60, checkout_count10, checkout_count30, checkout_count60]
          for element in id_dictionary[id]:
            tem_set.append(element)
        store_set.append(list(map(int,tem_set)))
      else:
        pass
      a += 1
    print(error)
    return store_set

In [ ]:
test_path = '/content/drive/My Drive/Classroom/student-shopee-code-league-marketing-analytics/test.csv'
train_path = '/content/drive/My Drive/Classroom/student-shopee-code-league-marketing-analytics/train.csv'
train_set = arrange(train_path, train=True)
test_set = arrange(test_path)

1449
953

In [ ]:
print(train_set[0])

[4, 44, 19, 6, 18, 0, 2, 4, 12, 43, 99, 0, 5, 10, 1, 1, 2, 47, 1, 0]

In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
%matplotlib inline

In [ ]:
from pandas import DataFrame
df_train = DataFrame (train_set,columns=['country', 'sub_len', 'last_open', 'last_login', 'last_checkout', 'open_count10', 'open_count30', 'open_count60', 'login_count10', 'login_count30', 'login_count60', 'checkout_count10', 'checkout_count30', 'checkout_count60', '1', '2', '3', 'age', 'domain', 'answer'])
df_test = DataFrame (test_set,columns=['country', 'sub_len', 'last_open', 'last_login', 'last_checkout', 'open_count10', 'open_count30', 'open_count60', 'login_count10', 'login_count30', 'login_count60', 'checkout_count10', 'checkout_count30', 'checkout_count60', '1', '2', '3', 'age', 'domain'])
df_test = df_test[['country','domain','age','country','open_count60', 'open_count30', 'open_count10']]
print(f'shape:{df_train.shape} , type:{type(df_train)}')
print(f'shape:{df_test.shape} , type:{type(df_test)}')
df_train.head(3)
df_test.head(3)

shape:(73539, 20) , type:<class 'pandas.core.frame.DataFrame'>
shape:(55970, 7) , type:<class 'pandas.core.frame.DataFrame'>

   country  domain  age  country  open_count60  open_count30  open_count10
0        6       1   30        6             4             3             2
1        6       1   30        6             1             1             1
2        5       1   33        5             0             0             0

In [ ]:
df_train.corr()['answer'].sort_values()

last_open          -0.096932
domain             -0.096021
sub_len            -0.057357
last_checkout      -0.024291
3                  -0.014235
2                  -0.013143
1                  -0.000501
last_login         -0.000263
login_count60       0.008633
login_count30       0.010134
checkout_count60    0.010231
checkout_count30    0.013419
login_count10       0.014023
checkout_count10    0.015573
age                 0.081024
country             0.158945
open_count60        0.477766
open_count30        0.507853
open_count10        0.515307
answer              1.000000
Name: answer, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    df_train[['country','domain','age','country','open_count60', 'open_count30', 'open_count10']], df_train[['answer']], test_size = 0.3, random_state = 0
)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = (X_test)

**SVM-SVC**

In [ ]:
#from sklearn.svm import SVC

In [ ]:
#svm = SVC(kernel='linear', probability = True)

In [ ]:
#svm.fit(X_train_std, y_train['answer'].values)

In [ ]:
#test = svm.predict(X_test).tolist()
#test_true = np.array(y_test).tolist()

**logistic**

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver = "lbfgs")
lr.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
test = lr.predict(X_test).tolist()
test_true = np.array(y_test).tolist()

In [ ]:
print(len(test), len(test_true))

22062 22062

In [ ]:
print(X_test)

       country  domain  age  country  open_count60  open_count30  open_count10
73213        1       1   30        1             0             0             0
1066         1       1   19        1             0             0             0
30192        6       1   30        6             0             0             0
39714        2       1   50        2             9             5             0
55008        2       1   35        2             5             1             0
...        ...     ...  ...      ...           ...           ...           ...
9188         1       1   50        1             2             1             1
58477        3       1   30        3             0             0             0
8164         1       1   38        1             2             1             0
69865        5       1   23        5             2             0             0
29960        1       1   30        1             1             0             0

[22062 rows x 7 columns]

In [ ]:
def accuracy(predict, test):
  total = len(predict)
  count = 0
  for i in range(total):
    if int(predict[i]) == int(test[i][0]):
      count += 1
  return count/total

a = accuracy(test, test_true)
print(f'accuracy:{int(a*100)}%')

accuracy:88%

In [ ]:
print(type(df_test))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#answer = svm.predict(df_test).tolist()
answer = lr.predict(df_test).tolist()
with open('output.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['row_id','open_flag'])
    for index_value in range(len(answer)):
        writer.writerow([index_value, answer[index_value]])